<div class="row">
  <div class="col"></div>
  <div class="col text-center">
    <h4 style="padding-top: 40%">Welcome to Admin panel</h4>
    <p>Please click sign in button for login</p>
  </div>
  <div class="col"></div>
</div>


